ideas
.node-version
.nvmrc

.claude
.idea
/.idea-backup/
.DS_Store
.dev.vars
.dev.vars.*
.wrangler
dist
ingest
node_modules
package-lock.json
/scripts/
/wip/
.env
prod-app.json

/settings

/public/card-presets
/public/assets/game/resonators/spine/portrait/

/riley
/ref

/dev-app-state-test.json
/eng.traineddata
/text-sample.png
/*.wwcalc

/public/assets/display/

/legacy/